In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_palette('husl')
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [0]:
!wget http://download.tensorflow.org/data/iris_training.csv

--2019-01-05 12:10:12--  http://download.tensorflow.org/data/iris_training.csv
Resolving download.tensorflow.org (download.tensorflow.org)... 173.194.218.128, 2607:f8b0:400c:c14::80
Connecting to download.tensorflow.org (download.tensorflow.org)|173.194.218.128|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2194 (2.1K) [text/csv]
Saving to: ‘iris_training.csv.1’

iris_training.csv.1 100%[===================>]   2.14K  --.-KB/s    in 0s

2019-01-05 12:10:12 (311 MB/s) - ‘iris_training.csv.1’ saved [2194/2194]

In [0]:
ls

finalized_model.sav  iris_training.csv    sample_data/
iris_test.csv        iris_training.csv.1

In [0]:
!wget http://download.tensorflow.org/data/iris_test.csv

--2019-01-05 12:10:23--  http://download.tensorflow.org/data/iris_test.csv
Resolving download.tensorflow.org (download.tensorflow.org)... 173.194.218.128, 2607:f8b0:400c:c14::80
Connecting to download.tensorflow.org (download.tensorflow.org)|173.194.218.128|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 573 [text/csv]
Saving to: ‘iris_test.csv.1’

iris_test.csv.1     100%[===================>]     573  --.-KB/s    in 0s

2019-01-05 12:10:23 (67.4 MB/s) - ‘iris_test.csv.1’ saved [573/573]

In [0]:
ls

finalized_model.sav  iris_test.csv.1    iris_training.csv.1
iris_test.csv        iris_training.csv  sample_data/

In [0]:
df1=pd.read_csv('iris_training.csv')
df2=pd.read_csv('iris_test.csv')

In [0]:
df1.head()

   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

In [0]:
df2.head()

    30    4  setosa  versicolor  virginica
0  5.9  3.0     4.2         1.5          1
1  6.9  3.1     5.4         2.1          2
2  5.1  3.3     1.7         0.5          0
3  6.0  3.4     4.5         1.6          1
4  5.5  2.5     4.0         1.3          1

In [0]:
X = df1.drop(['virginica'], axis=1)
Y = df1['virginica']

In [0]:
X.head()

   120    4  setosa  versicolor
0  6.4  2.8     5.6         2.2
1  5.0  2.3     3.3         1.0
2  4.9  2.5     4.5         1.7
3  4.9  3.1     1.5         0.1
4  5.7  3.8     1.7         0.3

In [0]:
Y.head()

0    2
1    1
2    2
3    0
4    0
Name: virginica, dtype: int64

In [0]:
# print(X.head())
print(X.shape)
# print(y.head())
print(Y.shape)

(120, 4)
(120,)

In [0]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X, Y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [0]:
filename = 'finalized_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [0]:
y_pred = classifier.predict(X[0:1])
print(y_pred)

[2]

In [0]:
X.head()

   120    4  setosa  versicolor
0  6.4  2.8     5.6         2.2
1  5.0  2.3     3.3         1.0
2  4.9  2.5     4.5         1.7
3  4.9  3.1     1.5         0.1
4  5.7  3.8     1.7         0.3

In [0]:
dedf=X
dedf["120"].iloc[0]=93

In [0]:
dedf.head()

    120    4  setosa  versicolor
0  93.0  2.8     5.6         2.2
1   5.0  2.3     3.3         1.0
2   4.9  2.5     4.5         1.7
3   4.9  3.1     1.5         0.1
4   5.7  3.8     1.7         0.3

In [0]:
y_pred = classifier.predict(dedf[0:1])
print(y_pred)

[1]

In [0]:
df2=df2.rename(columns = {'30':'120'})
df2.head()

   120    4  setosa  versicolor  virginica
0  5.9  3.0     4.2         1.5          1
1  6.9  3.1     5.4         2.1          2
2  5.1  3.3     1.7         0.5          0
3  6.0  3.4     4.5         1.6          1
4  5.5  2.5     4.0         1.3          1

In [0]:
frames = [df1, df2]
df3=pd.concat(frames)
df3.head()

   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

In [0]:
X_test = df1.drop(['virginica'], axis=1)
Y_test = df1['virginica']
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)

0.95

In [0]:
Y_test

0      2
1      1
2      2
3      0
4      0
5      0
6      0
7      2
8      1
9      0
10     1
11     1
12     0
13     0
14     2
15     1
16     2
17     2
18     2
19     0
20     2
21     2
22     0
23     2
24     2
25     0
26     1
27     2
28     1
29     1
      ..
90     2
91     1
92     0
93     0
94     2
95     0
96     0
97     2
98     1
99     0
100    0
101    1
102    0
103    1
104    0
105    0
106    0
107    0
108    1
109    0
110    2
111    1
112    0
113    2
114    0
115    1
116    1
117    0
118    0
119    1
Name: virginica, Length: 120, dtype: int64